
<p> First off, tell us about your current investment portfolio. </p>
<div class="btn-toolbar" role="toolbar" aria-label="...">
<p>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">1</button>
      <button type="button" class="btn btn-default">2</button>
      <button type="button" class="btn btn-default">3</button>
      <button type="button" class="btn btn-default">4+</button>
    </div>
</p>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="...">
  <p>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Apartments</button>
        <button type="button" class="btn btn-default">Townhouses</button>
        <button type="button" class="btn btn-default">Land</button>
        <button type="button" class="btn btn-default">Commercial</button>
      </div>
</p>
</div>

<%= f.hidden_field :email, input_html: { id: 'email', value: @onboarding.email} %>
<%= f.input :no_of_investment %>
<%= f.input :stock_interest %>