<p>Just one more thing!</p>

<p><%= 
      f.input :invest_location_preferences, 
      collection: ['QLD',
                   'VIC',
                   'NSW',
                   'WA'], 
      as: :radio_buttons 
%></p>

