<!-- This is the intro page-->

<p class="center"> [ = D ]</p>
<p class="center">Welcome to firstchance.com.au</p>
<p class="center">Let's get your profile set up. It will take 60 seconds and will</p>
<p class="center">help us send you the right properties</p>