<%= simple_form_for(@onboarding) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

  <% if params[:all].nil? %>
      <%= render 'onboardings/steps/current_step', f: f %>
  <% else %>
      <%= render 'onboardings/steps/all_steps', f: f %>
  <% end %>

  </div>
<% end %>


