<h1>
Let's get your profile set up. It will only take 60 seconds and will help us
send you the right properties!
</h1>

<%= render 'form', onboarding: @onboarding %>

<%= link_to 'Back', onboardings_path %>
