<div class="jumbotron">
  <div class="container">
    <h1>Initial Opportunity</h1>
    <p>Nostrud officia quis nulla sunt quis officia irure adipisicing. Tempor consectetur excepteur magna aliqua veniam. Aliqua fugiat duis et mollit occaecat culpa proident esse fugiat.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Act fast</a></p>
  </div>
</div>