<div class="row">
  <div class="col-sm-7 dev-border">
    <p>[Video placeholder]</p>   
    <p>Before it's on market, it's on firstchance.com.au</p>   
    <p>
      A pre-market, invite only investment platform that connects Australian investors 
      directly with some of our nation's most experienced and reputable property developers.
    </p>

  </div>

  <div class="col-sm-5 dev-border">
    <p>
      [Sign up placeholder]
    </p>
  </div>
</div>