<div class="row dev-border-vanilla">
    <p class="center">Pre-Market Real Estate Really Work</p>
    <p class="center">The firstchance.com.au guide will give you a transparent look at the property development process</p>
</div> <!-- row -->
    
<div class="container-fluid">
    <div class="row dev-border-vanilla">
        <div class="col-xs-6 col-md-2 col-sm-offset-1 show"> <!-- odd column bootstrap fix-->
            <div class="thumbnail">
            <img src="..." alt="...">
                <div class="caption">
                    <h3>Pre-purchase</h3>
                    <p>A developer is looking for the right site ...</p>
                </div> <!-- caption -->
            </div> <!-- thumbnail -->
        </div> <!-- col wrapper -->

        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
            <img src="..." alt="...">
                <div class="caption">
                    <h3>Development application</h3>
                    <p>Architectural drawings are completed in line with the DA ...</p>
                </div> <!-- caption -->
            </div> <!-- thumbnail -->
        </div> <!-- cowrapperer -->

        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
            <img src="..." alt="...">
                <div class="caption">
                    <h3>Pre-Market Launch</h3>
                    <p>Stock is sold through investor network, SMSH & offshore channel parters. ...</p>
                </div> <!-- caption -->
            </div> <!-- thumbnail -->
        </div> <!-- cowrapperer -->

        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
            <img src="..." alt="...">
                <div class="caption">
                    <h3>Public Launch</h3>
                    <p>Pre-purchase & Contract Negotiation. A developer is looking for the ..</p>
                </div> <!-- caption -->
            </div> <!-- thumbnail -->
        </div> <!-- cowrapperer -->

        <div class="col-xs-6 col-md-2">
            <div class="thumbnail">
            <img src="..." alt="...">
                <div class="caption">
                    <h3>Construction & Settlement</h3>
                    <p>Stock is sold through investor network, SMSF & offshore ...</p>
                </div> <!-- caption -->
            </div> <!-- thumbnail -->
        </div> <!-- cowrapperer -->

    </div> <!-- container -->
</div> <!-- row -->

