<div class="row">
  <div class="center">
    <h1>Connecting Australian Investors Directly With Property Developers</h1>
    <p>Don't miss out, join firstchance.com.au</p>
    
    <button class="btn btn-primary" type="button">
      <%= link_to 'Create account',  new_user_registration_path %>
    </button>
  </div>
</div>