  <div class="row dev-background">
    <div class="center">
        <h3>
          "As an independant property investor, I can finally access new developments
          before they go public and the best stock goes offshore"
        </h3>

      <div class="thumbnail center">
          <%= image_tag("https://1.bp.blogspot.com/-qMiXPoEfddQ/V0VzoU0t8II/AAAAAAAADuE/jisTGhF6FikhSg-Rw9umzE0GHRc1iAM2QCLcB/s1600/doctor-strange-movie-all-we-need-to-know-about-film.png",
                        height: '48',
                        width: '48')  
          %>
          <h5>Stephen Strange</h5>
          <h5>firstchance.com.au investor</h5>

        </div> <!-- class caption-->
      </div> <!--  class thumnail-->


    </div> <!-- center -->
  </div> <!-- row -->
    