<div class="jumbotron">
  <div class="container">
    <h1>Initial Opportunity</h1>
    <p>Nostrud officia quis nulla sunt quis officia irure adipisicing. Tempor consectetur excepteur magna aliqua veniam. Aliqua fugiat duis et mollit occaecat culpa proident esse fugiat.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("product") %>
      <div class="caption">
        <h3>Voyager, Docklands</h3>
        <p>Mollit aliqua velit excepteur reprehenderit. Sunt nulla velit consectetur adipisicing sunt ad laboris sit consequat irure duis irure. Officia cillum pariatur anim sunt ipsum et deserunt. Irure voluptate anim adipisicing adipisicing excepteur occaecat Lorem cillum sint officia consequat reprehenderit minim enim. Adipisicing ex dolore occaecat exercitation. Qui labore cillum duis veniam ex eiusmod eiusmod proident fugiat ullamco culpa aute est. Consectetur dolor ut magna cillum.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("product") %>
      <div class="caption">
        <h3>Voyager, Docklands</h3>
        <p>Mollit aliqua velit excepteur reprehenderit. Sunt nulla velit consectetur adipisicing sunt ad laboris sit consequat irure duis irure. Officia cillum pariatur anim sunt ipsum et deserunt. Irure voluptate anim adipisicing adipisicing excepteur occaecat Lorem cillum sint officia consequat reprehenderit minim enim. Adipisicing ex dolore occaecat exercitation. Qui labore cillum duis veniam ex eiusmod eiusmod proident fugiat ullamco culpa aute est. Consectetur dolor ut magna cillum.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("product") %>
      <div class="caption">
        <h3>Voyager, Docklands</h3>
        <p>Mollit aliqua velit excepteur reprehenderit. Sunt nulla velit consectetur adipisicing sunt ad laboris sit consequat irure duis irure. Officia cillum pariatur anim sunt ipsum et deserunt. Irure voluptate anim adipisicing adipisicing excepteur occaecat Lorem cillum sint officia consequat reprehenderit minim enim. Adipisicing ex dolore occaecat exercitation. Qui labore cillum duis veniam ex eiusmod eiusmod proident fugiat ullamco culpa aute est. Consectetur dolor ut magna cillum.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>