<section class="main-body privacy-policy-main-body">
  <div class="main-title main-content">
    <h1 class="text-center">Contact Us</h1>
  </div>
  <div class="main-description main-content privacy-policy-main-description">
    <h6 class="text-left">CONTACT US</h6>
    <p class="text-left">If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at: <a href="mailto:hello@firstchance.com.au" target="_top">hello@firstchance.com.au</a></p>
  </div>
</section>
<div class="footer-push"></div>
</div>
<section class="privacy-policy-footer bottom-footer">
<footer class="footer">
  <p class="pull-left text-center">&copy; 2016 firstchance.com.au Limited. All rights reserved.</p>
  <a href="/privacy-policy">
    <p class="pull-right text-center">
      Terms &amp; Conditions / Privacy Policy
    </p>
  </a>
</footer>
</section>
