<div class="container-fluid">
    <div class="row dev-border">

        <div class="col-sm-3">
            <p>[Logo]</p>
            <p>First chance</p>
            <p>[Copyright logo] 2017 - All rights reserved </p>
            <p>Terms & conditions</p>
            <p>Privacy</p>

        </div>

        <div class="col-sm-3">
            <p>FAQ</p>
            <p>Sign up</p>
            <p>Contant</p>
        </div>

        <div class="col-sm-3">
            <p>Facebook</p>
            <p>Twitter</p>
            <p>Linkedin</p>
        </div>

        <div class="col-sm-3">
            <p>About us</p>
            <p>Nisi aute quis do pariatur id culpa in aute veniam ut ullamco anim sit duis.</p>
        </div>

    </div>
</div>