<div class="row center">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
    <p>T&C | Privacy Policy | All rights reserved | 2017</p>
</div>